body{
    font-family: 'Poppins', sans-serif;
}
section{
	min-height: 420px;
}
/**Start nav**/
.navbar{
    background-color: white;
   
}
.navhover a{
    margin-right: 3px;
}
.navhover a:hover{
    border-bottom: 1px solid #FCB002;
}

/**End nav**/

/**Start header**/
.header{
        background-image: url('img/samson-ZGjbiukp_-A-unsplash.jpg');
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 350px;
        text-align: center;
        overflow: hidden;
 }
 .header img{
     max-height: 100px;
     margin-top: 150px;
 }

 .header h2{
     color: white;
     margin-top: 10px;
 }

 .header h5{
    color: white;
    margin-top: 10px;
}
.pKiri, .pKanan{
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}
.pKanan {
    transform: translate(50px, 0);
}
.pKiri.pMuncul, .pKanan.pMuncul{
    opacity: 1;
    transform: translate(0,0);
}

 /**End header**/


 /**Start experience**/

.experience{
    margin-top: 59px;
    
}

.experience img{
    max-height: 204px;
}
.experience h2{
    color: #20490B;
    font-size: 20px;
    text-align: left;
}
.experience span{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.experience p{
    font-size: 12px;
    text-align: left;
}

.experience .gambar{
    opacity: 0;
    transform: translate(0, -40px);
    transition: 1s;
}

.experience .gambar.munculkan{
    opacity: 1;
    transform: translate(0,0);
}


/**End experience**/


 /**Start services**/
.services{
    margin-top: 237px;
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 150px;
    padding-bottom: 50px;
}
.services img{
    max-height: 30px;
    margin-bottom: 15px;
}

.services h6{
    color: #FCB002;
}

.services h2{
    color: #20490B;
    font-size: 25px;
}

.line1{
    margin-top: 53px;
   
   
}
.colline1{
    padding: 50px 0;
    background-color: #FFFFFF;
    max-height: 247px;
    max-width: 247px;
    margin-bottom: 30px;
    
}

.line1 .colline1{
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}
.line1 .colline1.muncul{
    opacity: 1;
    transform: translate(0,0);
}
/**End services**/

/**Start portfolio**/
.portfolio {
    padding-bottom: 100px;
    padding-top:100px;
    text-align: center;
   
    
}

.portfolio h6{
    color: #FCB002;
}

.portfolio h2{
    color: #20490B;
    font-size: 25px;
}

.portfolio img{
    max-height: 247px;
    max-width: 247px;
    margin-bottom: 15px;
}

.rowPortfolio{
    margin-bottom: 237;
}

.colPortfolio{
    padding: 50px 0;
    max-height: 247px;
    margin-bottom: 30px;
   
}

/**End portfolio**/

/**Start timeline**/
.timeline{
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 100px;
}

.timeline h6{
    color: #FCB002;
}

.timeline h2{
    color: #20490B;
    font-size: 25px;
}
.timeline h5{
    font-size: 18px;
    color:#252832;
}


.coltimeline {
    background-color: white;
    width: 347px;
    height: 147px;
    margin:30px 30px;
    padding:30px 0;
}
/*why dont created*/

/**End timeline**/











/*===================================================================================*/
/** Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	/**Start nav**/
.navbar{
    background-color: white;
   
}
.navhover a{
    margin-right: 3px;
}
.navhover a:hover{
    border-bottom: 1px solid #FCB002;
}

/**End nav**/



/**Start header**/
    .header{
        background-image: url('img/samson-ZGjbiukp_-A-unsplash.jpg');
        width: 100%;
        height: 450px;
        text-align: center;
    }
    .header img{
        max-height: 100px;
        margin-top: 200px;
    }

    .header h2{
        color: white;
        margin-top: 10px;
    }
/**End header**/

/**Start experience**/

.experience{
    margin-top: 69px;
    
}

.experience img{
    max-height: 304px;
}
.experience h2{
    color: #20490B;
    font-size: 25px;
    text-align: left;
}
.experience span{
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}
.experience p{
    font-size: 13px;
    text-align: left;
}

/**End experience**/

 /**Start services**/
 .services{
    margin-top: 237px;
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 150px;
    padding-bottom: 182px;
}
.services img{
    max-height: 25px;
    margin-bottom: 15px;
}

.services h6{
    color: #FCB002;
}

.services h2{
    color: #20490B;
    font-size: 28px;
}
.services h5{
    font-size: 15px;;
}

.line1{
    margin-top: 53px;
   
   
}
.colline1{
    padding: 50px 0;
    background-color: #FFFFFF;
    max-height: 150px;
    max-width: 150px;
    margin-bottom: 30px;
    
}
/**End services**/





}


/*===================================================================================*/










/*===================================================================================*/

/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) { 
	/**Start nav**/
.navbar{
    background-color: white;
   
}
.navhover a{
    margin-right: 3px;
}
.navhover a:hover{
    border-bottom: 1px solid #FCB002;
}

/**End nav**/

/**Start header**/
.header{
        background-image: url('img/samson-ZGjbiukp_-A-unsplash.jpg');
        width: 100%;
        height: 550px;
        text-align: center;
    }
    .header img{
        max-height: 100px;
        margin-top: 250px;
    }
    .header h2{
        color: white;
        margin-top: 10px;
        font-size: 45px;
    }

/**End header**/

/**Start experience**/
.experience{
    margin-top: 79px;
    
}

.experience img{
    max-height: 304px;
}
.experience h2{
    color: #20490B;
    font-size: 28px;
    text-align: left;
}
.experience span{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.experience p{
    font-size: 14px;
    text-align: left;
}
/**End Experience**/



 /**Start services**/
 .services{
    margin-top: 237px;
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 150px;
    padding-bottom: 182px;
}
.services img{
    max-height: 28px;
    margin-bottom: 15px;
}

.services h6{
    color: #FCB002;
}

.services h2{
    color: #20490B;
}
.services h5{
    font-size: 18px;;
}

.line1{
    margin-top: 53px;
   
   
}
.colline1{
    padding: 50px 0;
    background-color: #FFFFFF;
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 30px;
    
}
/**End services**/

 }

/*===================================================================================*/












/*===================================================================================*/
/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) { 
	/**Start nav**/
.navbar{
    background-color: white;
   
}
.navhover a{
    margin-right: 3px;
}
.navhover a:hover{
    border-bottom: 1px solid #FCB002;
}

/**End nav**/

/**Start header**/
.header{
        background-image: url('img/samson-ZGjbiukp_-A-unsplash.jpg');
        width: 100%;
        height: 650px;
        text-align: center;
    }
    .header img{
        max-height: 100px;
        margin-top: 300px;
    }
    .header h2{
        color: white;
        margin-top: 10px;
        font-size: 55px;
    }
/**End header**/

/**Start experience**/
    .experience{
        margin-top: 237px;
       
    }
    
    .experience img{
        max-height: 404px;
    }
    .experience h2{
        color: #20490B;
        font-size: 30px;
        text-align: left;
    }
    .experience span{
        font-size: 14px;
        font-weight: bold;
        text-align: left;
    }
    .experience p{
        font-size: 14px;
        text-align: left;
    }
/**End experience**/



 /**Start services**/
 .services{
    margin-top: 237px;
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 150px;
    padding-bottom: 182px;
}
.services img{
    max-height: 30px;
    margin-bottom: 15px;
}

.services h6{
    color: #FCB002;
}

.services h2{
    color: #20490B;
}
.services h5{
    font-size: 20px;
    margin-bottom: 60px;
}

.line1{
    margin-top: 53px;
    
   
   
}
.colline1{
    padding: 50px 0;
    background-color: #FFFFFF;
    max-height: 447px;
    max-width: 447px;
    margin-bottom: 30px;
    
}
/**End services**/


 }


/*===================================================================================*/



