body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: white;
   
}
.navhover a{
    margin-right: 3px;
}
.navhover a:hover{
    border-bottom: 1px solid #FCB002;
}

.jumbo{
    text-align: center;
}
.jumbo img{
    width: 60px;
    margin-top: -200px;
}

.jumbo h2{
        color: white;
        margin-top: -80px;
    }

/**Small devices (landscape phones, 576px and up)**/

@media (min-width: 576px) {
    .navbar{
        background-color: white;
       
    }

    .jumbo{
        text-align: center;
    }
    .jumbo img{
        width: 100px;
        margin-top: -500px;
    }

}


/**Start Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) {
    .navbar{
        background-color: white;
       
    }

    .jumbo{
        text-align: center;
    }
    .jumbo img{
        width: 100px;
        margin-top: -500px;
    }
    .jumbo h2{
        color: white;
        margin-top: -200px;
    }
 }
/**End Medium devices (tablets, 768px and up)**/

/**Start Large devices (desktops, 992px and up)**/
@media (min-width: 992px) { 
    .navbar{
        background-color: white;
       
    }
    .jumbo{
        text-align: center;
    }
    .jumbo img{
        width: 100px;
        margin-top: -900px;
    }
    .jumbo h2{
        color: white;
        margin-top: -400px;
    }

 }

 /**End Large devices (desktops, 992px and up)**/